<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Auth Boilerplate</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <!-- TO DO NAV -->
    <%- include('partials/nav') %>
    <div>
        <%- body %>        
    </div>
    <!-- TO DO FOOTER -->
    <%- include('partials/footer') %>
</body>
</html>